In [19]:
from py2neo import Graph
graph = Graph(password="admin")

In [32]:
graph.run("MATCH (a:Researcher) RETURN a.firstname,a.middlename, a.lastname, a.majorArea LIMIT 10").to_data_frame()

  a.firstname a.middlename   a.lastname      a.majorArea
0      Donald           O.     Pederson            etree
1    Shaochun        Simon           Xu  computerscience
2       Ulrik         None      Brandes  computerscience
3    Dorothea         None       Wagner  computerscience
4         Uwe         None        Nagel  computerscience
5      Damian         None       Dechev  computerscience
6       Peter           M.  Pirkelbauer  computerscience
7       David         John      Wheeler  computerscience
8        John           G.       Truxal  computerscience
9      Ludwig         None        Braun  computerscience